*, *:before, *:after {
  box-sizing: border-box; }

body {
  padding: 2rem; }

main {
  max-width: none;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  font-family: Avenir, Roboto, Helvetica, san-serif;
  font-size: 80%; }

cell {
  margin: 0;
  display: flex;
  flex-flow: column;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 2rem; }

/*
article > img {
  order: -1;
  align-self: center; }

article > h1 {
  margin: 1rem 1rem 0; }

article > ul {
  margin: 0 0 1rem; }

article > p {
  margin: 0.25em 1rem 1rem; }

article > button {
  margin-top: auto;
  background: teal;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem; }
/*