body {
  padding: 2rem; }
	
grid {
  max-width: none;
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-gap: 1rem; }

.hcard {
  margin: 0;
  display: flex;
  flex-flow: row;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem; }

.hcard > form {
  align-self: center; }

.hcard > form > input {
  font-size: 1rem;
  font-family: helvetica; }

.card {
  margin: 0;
  display: flex;
  flex-flow: column;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem; }

.card > img {
  order: -1;
  max-width: 250px;
  max-height: 100px;
  align-self: center; }

.card > h1 {
  font-size: 1rem;
  font-family: helvetica;
  align-self: center; }
	